:root {
  --color-accent: hsl(175, 56%, 34%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 3rem 5%;
}

/* header */

header {
  display: flex;
  justify-content: center;
}

header img {
  height: 200px;
}

/* navigation */

nav {
  margin: 5rem auto;
}

nav ul {
  list-style: none;
  display: flex;
  text-align: center;
}

nav li {
  flex: 1;
}

nav a {
  text-decoration: none;
  color: var(--color-accent);
  /* font-weight: 800; */
}

/* main */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  gap: 1px;
  background-color: black;
}

.box {
  background-color: white;
}

.banner {
  grid-column: 1 / span 3;
}

/* footer */

.grid-container--footer {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container--footer img {
  max-height: 50px;
  margin-right: 1rem;
}

.grid-container--footer span {
  display: inline-block;
  color: var(--color-accent);
  margin-left: 1rem;
}
