@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes bouncingPromotion {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.01);
  }

  50% {
    transform: scale(0.99);
  }

  75% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes delayPromo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:root {
  --color-accent: hsl(175, 56%, 34%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 3rem 5%;
  font-family: 'Inter', sans-serif;
}

header,
nav,
main,
footer {
  max-width: 2000px;
  margin: 0 auto;
}

/* header */

header {
  display: flex;
  justify-content: center;
}

header img {
  height: 200px;
}

/* navigation */

nav {
  margin: 5rem auto;
}

nav ul {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 1rem;
}

nav a {
  text-decoration: none;
  color: var(--color-accent);
}

/* main | banner */

.grid-container {
  background-color: white;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  margin-bottom: 5rem;
  gap: 5px;
}

.box {
  background-color: white;
}

.banner {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  color: white;
  text-align: center;
}

.animation {
  animation: bouncingPromotion 1s ease-in-out;
}

.banner img {
  width: 100%;
  position: relative;
}

.banner h2 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.7rem 2rem;
}

.banner h2:hover {
  color: white;
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 25px;
  transition: color 1.5s, background-color 1.5s;
  top: 55.5%;
}

.banner a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.promoContent {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1rem;
  animation: delayPromo 2s linear;
}

@media only screen and (min-width: 825px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .banner {
    grid-column: 1 / span 3;
  }

  .design img,
  .nursery img,
  .shop img {
    width: 100%;
    max-height: 100%;
  }

  .banner h2 {
    font-size: 2rem;
  }

  .banner h2:hover {
    top: 53.5%;
  }
}

/* main | section */

.grid-container article {
  position: relative;
}

.grid-container article img {
  width: 100%;
  max-height: 500px;
}

.grid-container article figcaption {
  text-align: center;
}

.grid-container article a {
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.8);
  border-radius: 25px;
  bottom: 5%;
  color: var(--color-accent);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  left: 50%;
  padding: 0.5rem 3rem;
  position: absolute;
  text-decoration: none;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.grid-container article a:hover {
  background-color: var(--color-accent);
  color: white;
  transition: all 1.5s;
}

/* footer */

.grid-container--footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container--footer img {
  max-height: 50px;
  margin-right: 1rem;
}

.grid-container--footer span {
  display: inline-block;
  color: var(--color-accent);
  margin-left: 1rem;
}

.grid-container--footer a {
  cursor: pointer;
}

/* about | main */

.grid-container--about {
  display: grid;
  grid-template-columns: minmax(auto, 800px);
  grid-template-rows: repeat(4, auto);
  /* margin-bottom: 5rem; */
  column-gap: 5px;
  background-color: white;
}

.image-container--about {
  overflow: hidden;
  max-height: 500px;
  margin-bottom: 1rem;
}

.grid-container--about img {
  max-width: 100%;
  height: auto;
}

.jason {
  grid-row: 2 / span 1;
}

.maria a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.maria a:hover {
  text-decoration: underline;
}

.grid-container--about p {
  padding: 0 0.5rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 3rem;
}

.grid-container--about span {
  font-weight: 800;
}

@media only screen and (min-width: 825px) {
  .grid-container--about {
    grid-template-columns: repeat(2, minmax(100px, 800px));
    grid-template-rows: auto 120px;
  }

  .image-container--about {
    max-height: 800px;
    max-width: 100%;
  }

  /* TODO: Center main content without impact on subpages */
  /* 
  main {
    display: flex;
    justify-content: center;
  }

  .grid-container--about img {
    min-width: 80%;
  } */
}

/* contact */

.grid-container--contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px auto auto auto 1fr;
  grid-gap: 5px;
}

.box--contact {
  padding: 1rem;
}

.contact__banner {
  overflow: hidden;
  position: relative;
  padding: 0;
}

.contact__banner img {
  vertical-align: middle;
  width: 100%;
}

.contact__banner .contact__heading {
  color: var(--color-accent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.8);
  border-radius: 25px;
  padding: 0 1rem;
}

.contact__banner h1 {
  font-size: 2rem;
  font-weight: 500;
}

.contact__intro {
  line-height: 1.5;
  text-align: center;
}

.contact__address {
  display: flex;
  flex-direction: column;
}

.contact__address div:nth-of-type(1) {
  font-weight: 700;
}

.contact__address div {
  display: flex;
  margin-bottom: 0.5rem;
}

.contact__address i {
  margin-right: 1rem;
}

.contact__address a {
  text-decoration: none;
  color: black;
}

.contact__address a:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 1s;
}

.contact__address div:last-of-type {
  margin-top: 1rem;
}

.contact__address div:last-of-type span {
  font-weight: 700;
}

.contact__form-text h2 {
  margin-bottom: 1rem;
}

.contact__form div {
  display: flex;
  flex-direction: column;
}

.contact__form label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.contact__form input,
.contact__form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  overflow: hidden;
}

.contact__form input:focus,
.contact__form textarea:focus {
  outline: 1px solid var(--color-accent);
}

.contact__form span {
  color: var(--color-accent);
}

.contact__form button {
  padding: 0.8rem 2.5rem;
  font-weight: 500;
  border-radius: 25px;
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  background-color: white;
}

.contact__form button:hover {
  color: white;
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  transition: all 1s;
}

@media only screen and (min-width: 825px) {
  .grid-container--contact {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px auto auto;
  }

  .contact__banner {
    grid-column: 1 / span 2;
  }

  .contact__banner .contact__heading {
    padding: 0.5rem 2rem;
  }

  .contact__banner h1 {
    font-size: 2.5rem;
  }

  .contact__intro {
    text-align: start;
  }
}
